openapi: "3.0.0"
info:
  description: ""
  version: "1.0.0"
  title: "ProteGO Project backend"

components:
  schemas:
    ResponseOK:
      type: object
      properties:
        status:
          type: string
          example: "ok"

    ResponseOKRegister:
      allOf:
        - $ref: "#/components/schemas/ResponseOK"
      properties:
        registration_id:
          type: string
          example: "08c20a125d978f082ee9f92611eb43185082a10f862c698740917b5ae08cd723"
        code:
          type: string
          description: "Only on DEVELOPMET if send_sms=False"
          example: "123456"

    ResponseInvalidData:
      type: object
      properties:
        status:
          type: string
          example: "failed"
        message:
          type: string
          example: "invalid data"

    ResponseInvalidMethod:
      type: object
      properties:
        status:
          type: string
          example: "failed"
        message:
          type: string
          example: "Invalid method"

    ResponseOKConfirmRegister:
      allOf:
        - $ref: "#/components/schemas/ResponseOK"
      properties:
        user_id:
          example: "ab7737a6806da3fdd4b158cd1f1b05d2"
          type: string

    ResponseOkGetStatus:
      properties:
        status:
          example: "orange"
          type: string
        beacon_ids:
          type: array
          items:
            type: object
            properties:
              date:
                description: "Date in format YYYYmmddhh"
                type: string
                example: "2020032810"
              beacon_id:
                description: "Single beacon id"
                type: string
                format: string
                example: "a7e643062de788742779d9d6c12598a9"

    ResponseOkCheckVersion:
      properties:
        upgrade_required:
          example: false
          type: boolean
        upgrade_url:
          type: string
          format: uri

    CommonRequestParameters:
      type: object
      required:
        - user_id
        - platform
        - os_version
        - device_type
        - app_version
        - lang
      properties:
        user_id:
          type: string
          description: "ID of a user"
          example: "c904f5ba7e1a4878d4293d8d3bcef1cc"
        platform:
          type: string
          description: "Name of the plafform"
          example: "android"
        os_version:
          type: string
          description: "Phone's operating system version"
          example: "12.0"
        device_type:
          type: string
          description: "Type of the device"
          example: "iPhone X"
        app_version:
          type: string
          description: "Version of the ProteGO app"
          example: "1.0.0"
        lang:
          type: string
          description: "Phone's language"
          example: "PL"

paths:
  /register/:
    post:
      tags:
      - "register"
      summary: "Request register device."
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - msisdn
              properties:
                msisdn:
                  type: string
                  description: "9 digit phone number with prefix +48"
                  example: "+48123123123"
                send_sms:
                  type: bool
                  description: "If False returns code in response. Works only on DEVELOPMENT"
                  example: false

      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseOKRegister"
        405:
          description: "Invalid method"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidMethod"
        422:
          description: "Invalid data"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidData"

  /register_no_msisdn:
    post:
      tags:
      - "register"
      summary: "Request register device without msisdn."
      description: ""

      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseOKConfirmRegister"

  /confirm_registration/:
    post:
      tags:
        - "register"
      summary: "Confirm register device."
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - registration_id
                - code
              properties:
                code:
                  type: string
                  description: "code from sms"
                  example: "ASDFG"
                registration_id:
                  type: string
                  description: "registration id"
                  example: "975663bbbde5ebdbb8db122958a2a644"

      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseOKConfirmRegister"
        405:
          description: "Invalid method"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidMethod"
        422:
          description: "Invalid data"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidData"

  /get_status/:
    post:
      tags:
        - "get_status"
      summary: "Get user status."
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#components/schemas/CommonRequestParameters"
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseOkGetStatus"
        401:
          description: "Unauthorized"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidData"
        405:
          description: "Invalid method"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidMethod"
        422:
          description: "Invalid data"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidData"

  /send_encounters:
    post:
      tags:
        - "send_encounters"
      summary: "Send encounters."
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              allOf:
                - $ref: '#/components/schemas/CommonRequestParameters'
                - type: object
                  required:
                    - encounters
                  properties:
                    encounters:
                      type: array
                      items:
                        type: object
                        properties:
                          beacon_id:
                            type: string
                            description: "Beacon ID"
                            example: "c904f5ba7e1a4878d4293d8d3bcef1cc"
                          encounter_date:
                            description: "Date in format YYYYmmddhh"
                            type: string
                            example: "2020032810"
                          signal_strength:
                            type: float
                            description: "Bluetooth signal strength"
                            example: "-82.00"
      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseOK"
        401:
          description: "Unauthorized"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidData"
        405:
          description: "Invalid method"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidMethod"
        422:
          description: "Invalid data"
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ResponseInvalidData"

    /check_version/:
      post:
        summary: "Check app status."
        description: ""
        responses:
          200:
            description: "OK"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ResponseOkCheckVersion"
